<h2>New Submission from  {{submitorName}}</h2>

<p>There is a new sumbission form {{submitorName}} to be reviewed at LLTNS</p>

<p>Title: {{title}}</p>
<p>Description: {{description}}</p>
<p>Sumbission Type: {{submissionType}}</p>
<p>Artist Link: {{artistLink}}</p>
<p>Social Link: {{socialMedia}}</p>
<p>Gave permision: {{acknowledgement}}</p>

<p>Thanks again and Long Live The New Sound!</p>

<a href='www.longlivethenewsound'>www.longlivethenewsound.com</a> <br/>
<span><b>An anti-podcast podcast</b></span><br />
<a href='https://itunes.apple.com/us/podcast/long-live-the-new-sound/id1393853495?mt=2'>ITunes</a> |
<a href='https://feed.longlivethenewsound.com/rss.xml'>RSS</a> |
<a href='https://pca.st/sn8i'>PocketCasts</a>

